src/main/resources/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalog" type="catalogType"/>
    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element name="author">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Дмитрий Хара"/>
                        <xs:enumeration value="Татьяна Устинова"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="genre"/>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Новая жизнь. Последний шаг"/>
                        <xs:enumeration value="Свидание с богом у огня"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="publishDate">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="15 августа 2011"/>
                        <xs:enumeration value="27 мая 2019"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ISBN">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="978-5-17-102732-2"/>
                        <xs:enumeration value="978-5-04-100323-4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>